tmp/
*.zip
__pycache__/
latex_build/*.aux
latex_build/*.log
latex_build/*.out
latex_build/*.toc
.aws/
*.pyc
.DS_Store
bucket-policy.json

latex_build/

*.pdf
Ali_Usama_IA642_Week06_Lab6.1_Serverless_API_Security.pdf
